/**
 * Contact styles
 */

@import 'styles/base/variables.css';

.contact {
  composes: sectionWrapTwoColors from 'styles/base/layout.css';
}
.contactLeftSide {
  @neat-span-columns 6;
  padding: 50px;
  @media (--phone-landscape) {
    @neat-span-columns 12;
  }
}

.contactTitle {
  composes: sectionTitleGrey from 'styles/base/layout.css';
  margin-bottom: 200px
}

.inputWraper {
  display: block;
}

.inputWrap {
  position: relative;
  margin-bottom: 20px;
}

.errorInputWrap {
  composes: inputWrap;
  & .input {
    border-bottom: 1px solid red;
  }
  & .inputLabel {
    color: red;
  }
}

.input {
  display: block;
  width: 100%;
  padding: 15px 15px 8px 15px;
  border: none;
  background-color: #ECEEF0;
  border-radius: 0;
  outline: none;
  resize: vertical;
  font-size: 1rem;
}

.inputContacttext {
  composes: input;
}

.inputTextarea {
  composes: input;
  height: 120px;
}

.inputLabel {
  composes: p from 'styles/base/type.css';
  position: absolute;
  color: var(--black);
  left: 29px;
  top: -12px;
}

.sending {
  float: left;
  marign-top: 50px;
}

.sent {
  display: block;
  text-align: center;
  padding-top: 50px;
}

.contactBlackButton {
  composes: buttonDark from 'styles/modules/buttons.css';
  float: right;
  margin-top: 50px;
  text-transform: uppercase;
}


/* Right, black side */

.contactRightSide {
  @neat-span-columns 6;
  composes: full from 'styles/base/layout.css';
  background: url('/images/ContactRightBlack.gif') center center;
  background-size: cover;
  padding: 50px;
  margin-right: 0;
  position: relative;
  @media (--desktop-small) {
    background-color: var(--black);
    background-image: none;
  }
  @media (--phone-landscape) {
    @neat-span-columns 12;
  }
}

.contactRightSideWraper {
  margin-left: auto;
  margin-right: auto;
}

.contactHPWrap {
  position: relative;
  display: block;
  width: 222px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 220px;
}

.contactHP {
  color: var(--white);
  display: inline-block;
  margin-bottom: -25px;
  font-style: italic;
  & a {
    display: block;
  }
}

.yellowContactHP {
  color: var(--yellow);
}

.contactTitleBlack {
  composes: sectionTitleWhiteOpposite from 'styles/base/layout.css';
  display: block;
  float: right;
  margin-bottom: 75px;
}

.hplogo {
  width: 256px;
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* Contact bottom lines */
.contactLineleft {
  @neat-span-columns 2;
  position: absolute;
  left: 50px;
  bottom: 50px;
  float: left;
  display: inline-block;
  background-color: var(--type-dark-grey);
  width: 188px;
  height: 1px;
  @media (--phone-landscape) {
    @neat-span-columns 12;
    width: 100%;
    }
    @media (--phone-portrait) {
    @neat-span-columns 12;
    width: 100%;
    }
    @media print {
    display: none;
    }
}

.contactLineRight {
  @neat-span-columns 2;
  position: absolute;
  right: 50px;
  bottom: 50px;
  float: right;
  display: inline-block;
  background-color: var(--type-dark-grey);
  width: 188px;
  height: 1px;
  @media (--phone-landscape) {
    display: none;
    }
    @media (--phone-portrait) {
    display: none;
    }
    @media print {
    display: none;
    }
}

.copyright {
  position: absolute;
  bottom: 15px;
  font-size: 0.8125rem;
}
