/**
 * Concerts styles
 */

@import "styles/base/variables.css";

.concerts {
  composes: sectionWrap from 'styles/base/layout.css';
}

.concertsHeader {
  @neat-span-columns 12;
}

.concertsHeaderLeft {
  @neat-span-columns 6;
  @media (--tablet-landscape) {
    @neat-span-columns 4;
  }
  @media (--phone-landscape) {
    @neat-span-columns 12;
  }
}

.concertsHeaderRight {
  @neat-span-columns 6;
  @media (--tablet-landscape) {
    @neat-span-columns 8;
  }
  @media (--phone-landscape) {
    @neat-span-columns 12;
  }
}

.concertsWraper {
  margin: 0 auto;
  position: relative;
  @neat-span-columns 12;
}

.concertsTitle {
  composes: sectionTitleGrey from 'styles/base/layout.css';
  margin-bottom: 164px;
  @media (--tablet-portrait) {
    margin-bottom: 115px;
  }
  @media (--phone-landscape) {
    margin-bottom: 20px;
  }
}

.concertsSubtitle {
  font-size: 1.25rem;
  color: var(--type-grey);
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}

.concertsRightCalendar {
  min-width: 300px;
  display: block;
  float: right;
  @media (--phone-landscape) {
    float: none;
    margin: 0 auto;
    margin-top: 30px;
  }
}

.concertsSeason {
  width: 100px;
  margin-top: 27px;
  margin-left: 20%;
  padding-left: 20px;
  display: inline-block;
  @media (--desktop-small) {
    display: none;
  }
}

.searchWrap {
  display: inline-block;
  position: relative;
  margin-left: 20px;
  vertical-align: middle;
  &:after {
    position: absolute;
    right: 15px;
    top: 7px;
    content: "";
    background-image: url('/images/search.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
  }
  @media (--tablet-landscape) {
    margin-left: 0;
  }
}

.searchInput {
  width: 200px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid var(--grey-line);
  padding: 5px 10px;
  padding-right: 35px;
  line-height: 30px;
  outline: none;
}

/* Table */

.concertsTable {
  width: 100%;
  border-spacing: 0;
  background-color: var(--white);
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  & th, & td {
    padding: 20px;
    vertical-align: middle;
  }
  @media (--phone-landscape) {
    & th, & td {
      padding: 10px;
    }
  }
}

.concertsTableRow {
}

.concertsTableRowActive {
  composes: concertsTableRow;
  background-color: var(--grey-hover);
}

/* Table - heading */

.concertsHeading{
  composes: p from 'styles/base/type.css';
  text-transform: uppercase;
  color: var(--type-dark-grey);
  text-align: left;
  &:first-child {
    padding-left: 60px;
  }
  &:last-child {
    text-align: center;
  }
  @media (--tablet-portrait) {
    font-size: 0.75rem;
  }
  @media (--phone-landscape) {
    padding: 10px;
    &:first-child {
      padding-left: 20px;
    }
    &:last-child {
      display: none;
    }
  }
}

.concertsHeadingProgram {
  composes: p from 'styles/base/type.css';
  text-transform: uppercase;
  color: var(--type-dark-grey);
  text-align: left;
  @media (--tablet-portrait) {
    font-size: 0.75rem;
  }
}

.concertsHeadingPerformers {
  composes: p from 'styles/base/type.css';
  text-transform: uppercase;
  color: var(--type-dark-grey);
  text-align: left;
  @media (--tablet-portrait) {
    font-size: 0.75rem;
  }
  @media (--phone-landscape) {
    display: none;
  }
}

.concertsButton {
  composes: buttonLight from 'styles/modules/buttons.css';
  text-transform: uppercase;
  border: 1px solid var(--type-dark-grey);
  width: 109px;
  height: 30px;
  @media (--phone-landscape) {
    display: none;
  }
}

.concertsButtonArchive {
  composes: buttonLight from 'styles/modules/buttons.css';
  text-transform: uppercase;
  border: 1px solid var(--yellow);
  background-color: var(--yellow);
  width: 109px;
  height: 30px;
  @media (--phone-landscape) {
    display: none;
  }
}

/* Table-  rows */

.concertsTableDesc {
  composes: p from 'styles/base/type.css';
  color: var(--black);
  text-align: left;
  white-space: pre-wrap;
  &:first-child {
    padding-left: 60px;
  }
  &:last-child {
    text-align: center;
  }
  @media (--tablet-portrait) {
    font-size: 0.75rem;
  }
  @media (--phone-landscape) {
    &:first-child {
      padding-left: 20px;
    }
    &:last-child {
      display: none;
    }
  }
}

.concertsDescPerformers {
  composes: p from 'styles/base/type.css';
  color: var(--black);
  text-align: left;
  font-weight: bold;
  white-space: pre-wrap;
  @media (--tablet-portrait) {
    font-size: 0.75rem;
  }
  @media (--phone-landscape ) {
    display: none;
  }
}

.concertsDescProgram {
  composes: p from 'styles/base/type.css';
  color: var(--black);
  text-align: left;
  white-space: pre-wrap;
  @media (--tablet-portrait) {
    font-size: 0.75rem;
  }
}

.noConcerts {
  text-align: center;
  vertical-align: center;
  height: 200px;
}

/* Table - black section */

.concertsTableRowBlack {
  background-color: var(--black);
  & th, & td {
    color: var(--white);
  }
}

/* Bottom lines style */

.concertsBottomWrap {
  position: relative;
  min-height: 20px;
}

.bottomLinesOut {
  position: absolute;
  bottom: 0;
}
