/**
 * Layout styles
 *
 * -- This is messy at the moment and needs expanding out as it evolves.
 *
 */

@import "styles/base/variables.css";

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}


html {
  box-sizing: border-box;
  font-weight: 200;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url('/images/square.gif'); 
  background-repeat: repeat;
  color: var(--type);
}

p {
  margin: 0px;
}

::selection {
  background-color: rgba(0,0,0,0.8);
  color: white;
  text-shadow: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

section {
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none;
}

.no-overflow {
  overflow: hidden;
}

.full {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.fullBackgroundImage {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.alternativeCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.verticalCenter {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.horizontalCenter {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.clear {
  &::after, &::before {
    content:"";
    clear: both;
    display: table;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

/* This is style for every screen. 
*/

.sectionWrap {
  @neat-span-columns 12;
  position: relative;
  padding: 50px;
  @media (--phone-landscape) {
    padding: 40px;
    }
    @media (--phone-portrait) {
    padding: 30px;
    }
    @media print {
    padding: 30px;
    display: none;
    }
}

.sectionWrapTwoColors {
  @neat-span-columns 12;
  position: relative;
  padding: 0;
}

.sectionTitleGrey {
  color: var(--type-grey);
  position: relative;
  display: block;
  margin-bottom: 60px;
  margin-top: 30px;
  text-transform: uppercase;
  &::before {
    content: '';
    position: relative;
    display: inline-block;
    bottom: 11px;
    width: 48px;
    height: 1px;
    margin: 0 5px;
    background-color: var(--yellow);
  }
}

.sectionTitleWhite {
  color: var(--white);
  position: relative;
  display: block;
  margin-bottom: 60px;
  margin-top: 30px;
  text-transform: uppercase;
  &::before {
    content: '';
    position: relative;
    display: inline-block;
    bottom: 11px;
    width: 48px;
    height: 1px;
    margin: 0 5px;
    background-color: var(--yellow);
  }
}

.sectionTitleWhiteOpposite {
  color: var(--white);
  position: relative;
  display: block;
  margin-bottom: 60px;
  margin-top: 30px;
  text-transform: uppercase;
  &::after {
    content: '';
    position: relative;
    display: inline-block;
    bottom: 11px;
    width: 48px;
    height: 1px;
    margin: 0 5px;
    background-color: var(--type-dark-grey);
  }
}


/* This is for when you want to use neat columns but want it to appear centralised '
    - Don't use this - it was a hack when SB didn't understand @neat-shift :/ my bad.
*/
.neatCenter {
  float: inherit;
  margin: 0 auto;
  margin-right: auto;
  &:last-child {
    margin-right: auto; /* Neat grid hack for last child :( */
  }
}

 /* This thing needs deleting but at least its performant for now */
.noSelection {
  user-select: none;
}

/* Fade in
 * - This should be used for page animating in.
 * Not sure it's completely right or very efficient but we can tweak it later.
*/

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: .2s;
  animation-delay: .5s;
  animation-timing-function: ease;
  animation-iteration-count: once;
  animation-fill-mode: backwards;
}

.noDelayFadeIn {
  animation-name: fadeIn;
  animation-duration: .2s;
  animation-delay: .01s;
  animation-timing-function: ease;
  animation-iteration-count: once;
  animation-fill-mode: backwards;
}

@keyframes fadeInUp {
  0%   { opacity: 0; transform: translateY(30px); }
  100% { opacity: 1; transform: translateY(0px); }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1.5s;
  animation-timing-function: var(--ease);
  animation-iteration-count: once;
  animation-fill-mode: backwards;
}

