@import "styles/base/variables.css";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');


/*
font-weight: 200 is body font/used everywhere
font-weight: normal is bold
*/

/**
* Type styles
*/

body {
  font-family:'Open Sans', sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Open Sans', sans-serif;
  margin: 5px 0;
  font-size: 1rem;
  font-style: normal;
  font-weight: 200;
  color: var(--type);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1,
.h1 {
  font-size: 2.1875rem;
  line-height: 2.375rem;
  @media (--phone-landscape) {
    font-size: 1.875rem;
    line-height: 2.1875rem;
  }
}

h2,
.h2 {
  font-size: 1.875rem;
  line-height: 1.875rem;
}

h3,
.h3 {
  font-size: 1.5625rem;
  line-height: 2.0625rem;
}

h4,
.h4 {
  font-size: 1.4375rem;
  line-height: 1.750rem;
}

h5,
.h5 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

h6,
.h6 {
  font-size: 0.875rem;
  line-height: 1.3125rem;
}


a {
  color: inherit;
  text-decoration: none;
}

/* To compose - styling <a> is too generic
   This is the style of links inside text.
*/
.a {
  position: relative;
  white-space: nowrap;
  color: var(--black);
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0px;
    width: 100%;
    height: 1px;
    background: var(--type-grey);
    transition: background .1s linear;
  }
  &:hover {
    color: inherit;
    &::after {
      background: var(--type-grey);
    }
  }
}

p,
.p {
  font-size:  1rem;
  line-height: 1.375rem;
  font-weight: 100;
}

small,
.small {
  font-size: 0.8125rem;
  line-height: 1rem;
}

hr {
  margin: 22px 0 21px;
  height: 0;
  border: solid #eee;
  border-width: 1px 0 0;
  clear: both;
}

sup {
  font-size: 58%;
  color: var(--red);
}

em,
i {
  font-style: italic;
  line-height: inherit;
}

/* This needs adding properly */
strong {
  font-weight: normal;
  line-height: inherit;
  color: type(--grey);
}
