/* Imports all the /variables into one file so just have to include one */

/* Colours */
@import "styles/base/variables/colours.css";

/* Media Queries */
@import "styles/base/variables/media.css";

/* Mixed variables */
:root {
  /* Generic */
  --ease: cubic-bezier(0.19, 1, 0.22, 1);
  /* Footer Height */
  --footer: 250px;
  --header: 60px;
  /* Page Profile Image ratio */
  --page-image-ratio: 51.561165%;
  /* Shadows */
  --shadow: 0px 3px 39px 0px rgba(0,0,0,0.06);
}
