/**
 * Button styles
 */

@import "styles/base/variables.css";

button,
.button {
  display: inline-block;
  position: relative;
  font-size: 0.8125rem;
  line-height: 0.8125rem;
  font-weight: 200;
  padding: 8px 18px 7px;
  cursor: pointer;
  border-radius: 16px;
  overflow: hidden;
  z-index: 1;
  border: none;
  text-transform: capitalize;
  white-space: nowrap;
  transform: translateZ(0); /* to stop safari being buggy */
  &:focus {
    outline: none;
  }
  &::selection {
    background-color: rgba(0,0,0,0);
    color: inherit;
  }
}

.buttonLarge {
  composes: button;
  font-size: 0.875rem;
  line-height: 0.875rem;
  padding: 8px 20px;
  border-radius: 18px;
}

.buttonHover {
  &::after {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    height: 101%;
    padding-top: 101%;
    border-radius: 50%;
    transform: scale(0);
    transition: transform .4s ease, background-color .1s linear;
    z-index: -1;
    background-color: rgba(200,200,200,0.2);
  }
  &:hover {
    &::after {
      transform: scale(1);
    }
  }
}

.buttonInactive {
  opacity: 0.3;
  pointer-events: none;
}

/**
 * Completely plain and unstyled button. Just
 * removing the default `<button>` styles.
 */
.buttonClean {
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  &:focus {
    outline: none;
  }
}

.buttonDark {
  composes: button;
  composes: buttonHover;
  background-color: var(--black);
  color: var(--white);
  &:active {
    &::after {
      background-color: var(--black);
    }
  }
}

.buttonLight {
  composes: button;
  composes: buttonHover;
  background-color: transparent;
  color: var(--black);
  box-shadow: 0 0 0 1px var(--grey-line) inset;
  &:active {
    &::after {
      background-color: rgba(50,50,50,0.1);
    }
  }
}

.buttonDarkLarge {
  composes: buttonDark;
  composes: buttonLarge;
}

.buttonLightLarge {
  composes: buttonLight;
  composes: buttonLarge;
}

.buttonWhite {
  composes: button;
  composes: buttonHover;
  background-color: white;
}

.buttonRed {
  composes: buttonLight;
  box-shadow: 0 0 0 1px var(--red) inset;
}

.buttonGold {
  composes: button;
  composes: buttonHover;
  background: var(--gold);
  color: var(--type-light);
}

.buttonClose {
  composes: buttonLight;
  width: 29px;
  height: 29px;
  padding: 0;
  border-radius: 15px;
  background-color: transparent;
  background-image: url("/static/images/cross.svg");
  background-size: 11px 11px;
  background-repeat: no-repeat;
  background-position: center center;
  &::after {
    width: 29px;
    height: 29px;
  }
}

/* Circle button */
.buttonCircle {
  composes: button;
  width: 31px;
  height: 31px;
  box-shadow: 0 0 0 1px var(--grey-line) inset;
  background-color: white;
  border-radius: 50%;
  padding: 0;
  background-image: url('/static/images/cross.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 9px;
  transition: background-color .2s ease;
  &:hover {
    background-color: var(--grey-background);
  }
}

/**
 * Button icons
 */
.buttonWithIcon {
  padding: 8px 18px 7px 30px;
  background-repeat: no-repeat;
  background-position: 13px center;
}

.buttonUpload {
  composes: buttonLight;
  composes: buttonWithIcon;
  background-image: url("/static/images/upload.svg");
  background-size: 7px 8px;
}

.buttonPlus {
  composes: buttonLight;
  composes: buttonWithIcon;
  background-image: url("/static/images/plus.svg");
  background-size: 7px 7px;
}

.buttonMinus {
  composes: buttonLight;
  composes: buttonWithIcon;
  background-image: url("/static/images/minus.svg");
  background-size: 7px 7px;
}

.buttonSaveCommon {
  composes: buttonLight;
  composes: buttonWithIcon;
  background-size: 8px auto;
  @media (--tablet-portrait) {
    width: 28px;
    padding: 8px 0 7px;
    color: transparent;
    background-position: 10px center;
  }
}

.buttonSave {
  composes: buttonSaveCommon;
  background-image: url("/static/images/bookmark.svg");
}

.buttonSaved {
  composes: buttonSaveCommon;
  background-image: url("/static/images/bookmarked.svg");
}

.buttonShare {
  composes: buttonLight;
  composes: buttonWithIcon;
  background-image: url("/static/images/share.svg");
  background-size: 9px 8px;
}

.buttonView {
  composes: buttonLight;
  composes: buttonWithIcon;
  background-image: url("/static/images/view.svg");
  background-size: 8px 10px;
}

.buttonViewMore {
  composes: buttonLight;
  composes: buttonWithIcon;
  background-image: url("/static/images/dropdownMore.svg");
  background-size: 8px 10px;
}

.buttonBack {
  composes: buttonLight;
  composes: buttonWithIcon;
  background-image: url("/static/images/reverse.svg");
  background-size: 7px 8px;
}

.buttonReorder {
  composes: buttonLight;
  composes: buttonWithIcon;
  background-image: url("/static/images/reorder.svg");
  background-size: 13px 6px;
  padding: 8px 18px 7px 30px;
}

.buttonDelete {
  composes: buttonLight;
  composes: buttonWithIcon;
  background-image: url("/static/images/delete.svg");
  background-size: 9px 14px;
  padding: 8px 18px 7px 30px;
}

.buttonSocial {
  padding: 18px 18px 18px 28px;
  font-size: 1rem;
  color: white;
  text-align: center;
  border-radius: 28px;
  background-size: 14px 14px;
  background-position: 20px center;
}

.buttonTwitter {
  composes: button;
  composes: buttonWithIcon;
  composes: buttonHover;
  composes: buttonSocial;
  background-color: var(--blue-twitter);
  background-image: url("/static/images/twitter.svg");
  &::after {
    background-color: rgba(0,0,50,0.05);
  }
  &:active {
    &::after {
      background-color: rgba(0,0,0,0.15);
    }
  }
}

.buttonFacebook {
  composes: button;
  composes: buttonWithIcon;
  composes: buttonHover;
  composes: buttonSocial;
  background-color: var(--blue-facebook);
  background-image: url("/static/images/facebook.svg");
  &::after {
    background-color: rgba(0,0,0,0.15);
  }
  &:active {
    &::after {
      background-color: rgba(0,0,0,0.3);
    }
  }
}

/**
 * Button states
 */

@keyframes loading-ani {
  0% {transform: translateY(0px);}
  20% {transform: translateY(-3px);}
  40% {transform: translateY(0px);}
  100% {transform: translateY(0px);}
}

/* Plain */

.buttonStates {
  composes: buttonDark;
}

.buttonStatesLight {
  composes: buttonWhite;
}

/* Loading */
.buttonLoading {
  composes: buttonDark;
  pointer-events: none;

  & .buttonText {
    opacity: 0;
  }

  & .buttonLoader {
    opacity: 1;
    & .circleLeft {
      animation-name: loading-ani;
      animation-duration: 1s;
      animation-delay: .1s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
    }

    & .circleMiddle {
      animation-name: loading-ani;
      animation-duration: 1s;
      animation-delay: .15s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
    }

    & .circleRight {
      animation-name: loading-ani;
      animation-duration: 1s;
      animation-delay: .2s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
    }
  }
}

.buttonLoadingLight {
  composes: buttonLoading;
  composes: buttonWhite;
  & .circle {
    background-color: var(--black-dark);
  }
}

.circle {
  width: 3px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  position: absolute;
}

.circleLeft {
  composes: circle;
  left: -6px;
}

.circleRight {
  composes: circle;
  right: -5px;
}

.circleMiddle {
  composes: circle;
  left: 0;
}


/* Completed */

.buttonCompleted {
  composes: buttonDark;
  & .buttonText {
    opacity: 0;
  }
  & .completed {
    opacity: 1;
  }
}

.buttonCompletedLight {
  composes: buttonWhite;
  & .buttonText {
    opacity: 0;
  }
  & .completed {
    background-image: url('/static/images/checkGreen.svg');
    opacity: 1;
  }
}

.completed {
  opacity: 0;
  color: white;
  width: 12px;
  height: 12px;
  text-align: center;
  background-image: url('/static/images/checkWhite.svg');
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center center;
}

