/**
 * Element module styles
 */

@import 'styles/base/variables.css';
@import 'styles/base/variables';

/* Rounded person avatar */
.avatar {
  background-color: var(--grey-background);
  height: 122px;
  width: 122px;
  border-radius: 50%;
}

/* Top and bottom border grey lines when there's padding (bit hacky) */
.bordersPseudo {
  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    background-color: var(--grey-line);
  }
}

/* List with grey lines on top and bottom */
.lineList {
  width: 100%;
  list-style: none;
  & li {
    font-size: 0.813rem; /* Setting font size instead of using something that already exists just for ease and more global */
    line-height: 1rem;
    padding: 6px 0 2px; /* this is weird */
    border-bottom: 1px solid var(--grey-line-light);
    overflow: hidden; /* So items inside have height if @neat'd */
    min-height: 28px;
    &:nth-child(1) {
      border-top: 1px solid var(--grey-line-light);
    }
  }
}

/* Underline hover */
@keyframes underline-in {
  0%   { transform: translate3d(-101%, 0, 0); opacity: 0; }
  100% { transform: translate3d(0%, 0, 0); opacity: 1; }
}

@keyframes underline-out {
  0%   { transform: translate3d(0%, 0, 0); opacity: 1;  }
  100% { transform: translate3d(101%, 0, 0); opacity: 0;  }
}

.underlineHover {
  position: relative;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  padding-bottom: 0;
  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 1px;
    width: 101%;
    background: var(--black);
    animation-name: underline-out;
    animation-duration: 1s;
    animation-timing-function: var(--ease);
    animation-iteration-count: once;
    animation-fill-mode: forwards;
  }
  &:hover {
    &::after {
      animation-name: underline-in;
    }
  }
}

.underlineHoverActive {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 0;
  display: inline-block;
  &::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 1px;
    width: 101%;
    background-color: var(--black);
  }
}

/* Current availability icon */
.currentAvailabilityIcon {
  &::before {
    content:'';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 3px solid var(--gold);
  }
}

/* Empty state */
.empty {
  @neat-span-columns 12;
  height: 200px;
  text-align: center;
  background-color: var(--grey-background);
  padding-top: 81px;
  margin-top: 10px;
  border: 1px dashed var(--grey-line);
  & h4 {
    color: var(--type-light-grey);
  }
}

/* Staggered list item entry */
.staggeredChildren {
  & li {
    &:nth-child(1) {
      transition: all .8s .08s cubic-bezier(0.19, 1, 0.22, 1);
    }
    &:nth-child(2) {
      transition: all .8s .15s cubic-bezier(0.19, 1, 0.22, 1);
    }
    &:nth-child(3) {
      transition: all .8s .22s cubic-bezier(0.19, 1, 0.22, 1);
    }
    &:nth-child(4) {
      transition: all .8s .29s cubic-bezier(0.19, 1, 0.22, 1);
    }
    &:nth-child(5) {
      transition: all .8s .34s cubic-bezier(0.19, 1, 0.22, 1);
    }
    &:nth-child(6) {
      transition: all .8s .38s cubic-bezier(0.19, 1, 0.22, 1);
    }
    &:nth-child(7) {
      transition: all .8s .42s cubic-bezier(0.19, 1, 0.22, 1);
    }
    &:nth-child(8) {
      transition: all .8s .46s cubic-bezier(0.19, 1, 0.22, 1);
    }
    &:nth-child(9) {
      transition: all .8s .5s cubic-bezier(0.19, 1, 0.22, 1);
    }
    &:nth-child(10) {
      transition: all .8s .54s cubic-bezier(0.19, 1, 0.22, 1);
    }
    &:nth-child(11) {
      transition: all .8s .58s cubic-bezier(0.19, 1, 0.22, 1);
    }
    &:nth-child(12) {
      transition: all .8s .62s cubic-bezier(0.19, 1, 0.22, 1);
    }
    &:nth-child(13) {
      transition: all .8s .66s cubic-bezier(0.19, 1, 0.22, 1);
    }
    &:nth-child(14) {
      transition: all .8s .7s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}

.staggeredChildrenFast {
  & li {
    &:nth-child(1) {
      transition: transform .4s 0s cubic-bezier(0.19, 1, 0.22, 1), opacity .4s 0s cubic-bezier(0.19, 1, 0.22, 1);
    }
    &:nth-child(2) {
      transition: transform .4s .03s cubic-bezier(0.19, 1, 0.22, 1), opacity .4s .03s cubic-bezier(0.19, 1, 0.22, 1);
    }
    &:nth-child(3) {
      transition: transform .4s .06s cubic-bezier(0.19, 1, 0.22, 1), opacity .4s .06s cubic-bezier(0.19, 1, 0.22, 1);
    }
    &:nth-child(4) {
      transition: transform .4s .09s cubic-bezier(0.19, 1, 0.22, 1), opacity .4s .09s cubic-bezier(0.19, 1, 0.22, 1);
    }
    &:nth-child(5) {
      transition: transform .4s .12s cubic-bezier(0.19, 1, 0.22, 1), opacity .4s .12s cubic-bezier(0.19, 1, 0.22, 1);
    }
    &:nth-child(6) {
      transition: transform .4s .15s cubic-bezier(0.19, 1, 0.22, 1), opacity .4s .15s cubic-bezier(0.19, 1, 0.22, 1);
    }
    &:nth-child(7) {
      transition: transform .4s .18s cubic-bezier(0.19, 1, 0.22, 1), opacity .4s .18s cubic-bezier(0.19, 1, 0.22, 1);
    }
    &:nth-child(8) {
      transition: transform .4s .21s cubic-bezier(0.19, 1, 0.22, 1), opacity .4s .21s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}
