/**
* Import fonts with @font-face
*/

/* Bold */
@font-face {
  font-family: 'theinhardt';
  src: url('/static/fonts/treg.woff');
  font-weight: bold;
  font-style: normal;
  color: red;
}

@font-face {
  font-family: 'theinhardt';
  src: url('/static/fonts/tregit.woff');
  font-weight: bold;
  font-style: italic;
}

/* Regular */
@font-face {
  font-family: 'theinhardt';
  src: url('/static/fonts/treg.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "theinhardt";
  src: url('/static/fonts/tregit.woff');
  font-weight: normal;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: 'theinhardt';
  src: url('/static/fonts/tlight.woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'theinhardt';
  src: url('/static/fonts/tlightit.woff');
  font-weight: 200;
  font-style: italic;
}


