/**
 * Page module styles
 */

@import "styles/base/variables.css";

/* Max width for main sections */
.maxWidth {
	@neat-outer-container 1500px;
	padding: 0 40px;

  @media (--desktop-large) {
    @neat-outer-container 1330px;
  }

	@media (--desktop-medium) {
		@neat-outer-container 1260px;
	}

  @media (--desktop-small) {
    @neat-outer-container 1160px;
  }

  /* Fluid from here */
  @media (--tablet-landscape) {
    width: 100%;
  }

  @media (--phone-landscape) {
    padding: 0 30px;
  }

  @media (--phone-portrait) {
    padding: 0 20px;
  }
}

/* Like maxWidth but without the max-width (just does padding) */
.padding {
  padding: 0 40px;
  @media (--phone-landscape) {
    padding: 0 30px;
  }
  @media (--phone-portrait) {
    padding: 0 20px;
  }
}

.fakePaddingRight {
  right: 40px;
  @media (--phone-landscape) {
    right: 30px;
  }
  @media (--phone-portrait) {
    right: 20px;
  }
}

/* Main content block
 * Used in profile components etc
 */
.block {
  composes: maxWidth;
  padding-top: 60px;
  padding-bottom: 60px;
  @media (--phone-landscape) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

/* Card layout
 * This overides the cascading @neat-omega so we can change layouts on different screens
 */

.cardTwo {
  @neat-span-columns 6;
  &:nth-child(even) {
    margin-right: 0;
  }
  @media (--tablet-portrait) {
    @neat-span-columns 12;
  }
}

.cardThree {
  @neat-span-columns 4;
  &:nth-child(3n) {
    margin-right: 0;
  }
  @media (--tablet-landscape) {
    @neat-span-columns 6;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-child(2n+3) {
      margin-right: 1.26947346%;
    }
  }
  @media (--phone-portrait) {
    @neat-span-columns 12;
  }
}

.cardFour {
  @neat-span-columns 3;
  &:nth-child(4n) {
    margin-right: 0;
  }
  @media (--tablet-landscape) {
    @neat-span-columns 4;
    &:nth-child(4n+4) {
      margin-right: 1.26947346%; /* Emulates Neat's gutter setting */
    }
    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
  @media (--tablet-portrait) {
    @neat-span-columns 6;
    &:nth-child(3n+3) {
      margin-right: 1.26947346%;
    }
    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }
  @media (--phone-portrait) {
    @neat-span-columns 12;
  }
}
