/**
 * Photo styles
 */

@import 'styles/base/variables.css';


.photos {
  @neat-span-columns 12;
  background-color: var(--black);
  height: 800px;
  overflow: hidden;
}

.photosTitle {
  composes: sectionTitleWhite from 'styles/base/layout.css';
  padding-left: 50px;
  padding-top: 50px;
}

/* Table styles */ 

.PhotosTableDescription {
  padding: 0;
  height: 400px;
}

.photosItemsWrap {
  margin-top: 100px;
  padding: 0;
  width: 100%;
  overflow-x: auto;
}

.photosTableWrap {
  border-collapse: collapse;
  transform: translateZ(0);
  margin-right: auto;
  margin-left: auto;
}

.photosItems {
  vertical-align: middle;
  position: relative;
}

.certainPhoto {
  position: relative;
  & .photosImg {
    cursor: pointer;
    width: 250px;
    transition: all 0.3s;
    transform: translateZ(0);
    max-width: none;
  }

  &:hover .photosImg {
    width: 400px;
    position: relative;
  }

  &:hover .photoDowload {
    bottom: 0;
    opacity: 0.5;
  }
  
  &:hover .photoDownloadHeadline {
    color: var(--white);
    text-transform: uppercase;
  }
}

/* styles for Big photo */

.cartainBigPhoto{
  width: 100%;
  background-color: var(--black);
  transition: all 0.3s;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  display: none;
  overflow: auto;
  text-align: center;
  & img {
    width: auto;
    max-width: 100%;
  }
}

.cartainBigPhotoActive {
  composes: cartainBigPhoto;
  display: block;
  opacity: 1;
}

.crossIcon {
  color: var(--white);
  width: 60px;
  height: 60px;
  position: relative;
  float: right;
  display: inline-block;
  padding-top: 18px;
  padding-right: 13px;
  padding-bottom: 0;
  padding-left: 13px;
  cursor: pointer;
}

.crossOneLine {
  width: 20px;
  height: 1px;
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--white);
  transform: rotate(-45deg);
  cursor: pointer;
}

.crossTwoLine {
  width: 20px;
  height: 1px;
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--white);
  transform: rotate(45deg);
  cursor: pointer;
}

.photosImgBig {
  width: 100%;
}

/* style for photo after click */

.photoDowload {
  position: absolute;
  bottom: -50px;
  opacity: 0;
  width: 100%;
  padding: 0.7em 0;
  background: #000;
  background: var(--black);
  text-align: center;
  z-index: 2;
  transition: all 0.3s;
} 

.photoDowloadLinks{
  display: block;
  width: 100%;
}

.photoDowloadLink {
  composes: h6 from 'styles/base/type.css';
  color: var(--white);
  text-transform: uppercase;
}

.photoDowloadLine {
  color: var(--yellow);
}

.icoNext {
  color: var(--white);
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -10px;
  font-size: 40px;
  cursor: pointer;
}

.icoNextLeft {
  color: var(--white);
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -10px;
  font-size: 40px;
  cursor: pointer;
}
