/**
 * News Achive styles
 */

@import 'styles/base/variables.css';

.newsArchive {
  composes: sectionWrap from 'styles/base/layout.css';
}

.newsArchiveWrap {
  position: relative;
  display: inline-block;
  width: 100%;
}

.title {
  composes: sectionTitleGrey from 'styles/base/layout.css';
}

.oneNewsArchive {
  width: 18%;
  margin: 1%;
  border: 1px solid var(--type-dark-grey);
  background-color: var(--white);
  @media (--tablet-landscape) {
    width: 30%;
  }
  @media (--phone-landscape) {
    width: 100%;
  }
}

.img {
  width: 100%;
}

.titleWrap {
 padding: 20px;
}

.titleCertainNews {
  composes: p from 'styles/base/type.css';
  text-transform: uppercase;
  font-weight: 400;
}

.data {
  font-size: 0.625rem;
  color: var(--type-dark-grey);
  text-transform: uppercase;
}

.textWrap {
  padding: 20px;
  border-top: 1px solid var(--type-dark-grey);
  & p {
    font-size: 0.875rem;
    line-height: 1.3125rem;
  }
}

.buttonReadMore {
  composes: buttonLight from 'styles/modules/buttons.css';
  float: right;
  text-transform: uppercase;
  color: var(--yellow);
  margin-top: 10px;
  margin-bottom: 10px;
}