/*
Pagination style
 */

@import 'styles/base/variables.css';

.wrap {
  @neat-span-columns 12;
  margin: 50px 0;
  float: none;
}

.pagination {
  composes: maxWidth from "styles/modules/page.css";
  max-width: 400px;
  padding: 0;
  text-align: center;
}

.left {
  & .page {
    &:first-of-type {
      margin-right: 42px;
       &:after {
        width: 25px;
        left: 34px;
        height: 1px;
        top: 10px;
        position: absolute;
        display: inline-block;
        content: "";
        background-color: var(--grey-line);
        pointer-events: none;
      }
    }
  }
}

.right {}

.compressedRight {
  margin-left: 42px;
  &:before {
    width: 25px;
    left: -34px;
    height: 1px;
    top: 10px;
    position: absolute;
    display: inline-block;
    content: "";
    background-color: var(--grey-line);
    pointer-events: none;
  }
}

.paginationLeft {
  composes: pagination;
  composes: left;
}

.paginationRight {
  composes: pagination;
  composes: right;
}

.paginationBoth {
  composes: pagination;
  composes: left;
  composes: right;
}

.page {
  display: inline-block;
  min-width: 25px;
  border-bottom: 1px solid var(--type-dark-grey);
  cursor: pointer;
  position: relative;
  text-align: center;
  transition: border .2s ease;
  color: var(--type-dark-grey);
  &:hover {
    border-bottom: 1px solid var(--yellow);
  }
  & a {
    display: block;
  }
}

.active {
  composes: page;
  border-bottom: 1px solid var(--yellow);
}

.buttonWrap {
  display: inline-block;
}

.button {
  composes: buttonLight from "styles/modules/buttons.css";
  composes: buttonWhite from "styles/modules/buttons.css";
  margin-left: 20px;
}
