/* Colours */

:root {
  /* Blacks */
  --black: #000000;

  /* White */
  --white: #FFFFFF;

  /* Yellow */
  --yellow: #FFB116;

  /* Type */
  --type-grey: #8b8b8b;
  --grey-line: #d5d5d5;
  --type-dark-grey: #95989A;
  --grey-hover: #eaeaea; /* For hover states that appear on white */

   /* Brands */
  --blue-facebook: #3b5998;
  --blue-twitter: #6aacdf;

}
