/**
 * BottomLines styles
 */

@import 'styles/base/variables.css';

.sectionBottomLines {
  @neat-span-columns 12;
  display: block;
  margin-top: 50px;
}

.lineleft {
  @neat-span-columns 2;
  float: left;
  display: inline-block;
  background-color: var(--type-dark-grey);
  width: 188px;
  height: 1px;
  @media (--phone-landscape) {
    @neat-span-columns 12;
    width: 100%;
    }
    @media (--phone-portrait) {
    @neat-span-columns 12;
    width: 100%;
    }
    @media print {
    display: none;
    }
}

.lineRight {
  @neat-span-columns 2;
  float: right;
  display: inline-block;
  background-color: var(--type-dark-grey);
  width: 188px;
  height: 1px;
  @media (--phone-landscape) {
    display: none;
    }
    @media (--phone-portrait) {
    display: none;
    }
    @media print {
    display: none;
    }
}