/**
 * Menu styles
 */

@import 'styles/base/variables.css';

.header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  background-color: #fff;
  height: 60px;
  padding: 20px 40px;
  border-bottom: 1px solid var(--type-grey);
  @media (--phone-landscape) {
    padding: 0px 20px;
    }
    @media (--phone-portrait) {
    padding: 0px 10px;
    }
    @media print {
    display: none;
    }
}

.headerContent {
  width: 100%;
  margin: 0 auto;
}

.fbLink {
  position: absolute;
  top: 17px;
  line-height: 24px;
  font-size: 14px;
  color: #666;
  right: 50px;
  display: block;
  width: 26px;
  height: 26px;
  text-align: center;
  border: 1px solid #666;
  border-radius: 50%;
}

.menuItems {
  width: 569px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  @media(--tablet-portrait){
    display: none;
  }
}

.menuItem {
  composes: p from 'styles/base/layout.css';
  float: left;
  margin-right: 45px;
  letter-spacing: .03125rem;
  &:last-child {
    margin-right: 0;
  }
}

.menuLink {
  composes: a from 'styles/base/type.css';
  composes: underlineHover from "styles/modules/elements.css";
  display: inline-block;
  text-align: right;
  color: var (--white);
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

.active {
  color: var(--black);
} 

/* For mobile version */
/* Lines that form the navigation and close icon */

.menuNavigation {
  display: none;
  @media(--tablet-portrait) {
  width: 60px;
  height: 60px;
  position: relative;
  float: left;
  display: inline-block;
  transition: transform .6s var(--ease), opacity .2s ease;
  @media (--phone-landscape) {
    margin-left: 0px;
    }  
  }
}

.icon {
  height: 59px;
  width: 60px;
  position: relative;
  float: right;
  display: inline-block;
  padding: 18px 13px 0 13px;
  cursor: pointer;
  composes: small from "styles/base/type.css";
  transition: background .2s ease;
  &:hover {
    background: var(--white);
  }
  & svg {
    display: inline-block;
  }
}

/*
.expanded {
  &.icon {
    background: var(--type-grey);
    color: var(--white);
    &:hover {
      background: var(--type-dark-grey);
    }
  }
  & ~ .menuNavigation {
    opacity: 1;
    z-index: 10;
    visibility: visible;
    transform: translate3d(0px, 0, 0);
    /* For activity + messages 
    & ul {
      & li {
        transform: translate3d(0px, 0, 0);
        opacity: 1;
      }
    }
  }
}
*/

.iconActive {
  composes: icon;
  &.icon {
    & .lineOne {
      top: 0;
      transform: rotate(-45deg);
      background: var(--black);
      transition: transform .6s .1s var(--ease), background .2s linear, top .1s ease;
    }
    & .lineTwo {
      top: 0;
      transform: rotate(45deg);
      background: var(--black);
      transition: transform .6s .1s var(--ease), background .2s linear, top .1s ease;
    }
  }
  & ~ .menuNavigation {
    & .menuItem {
      transform: translateX(0px);
      opacity: 1;
    }
  }
}

.line {
  composes: center from "styles/base/layout.css";
  width: 20px;
  height: 1px;
  background: var(--black);
  transform-origin: center center;
  transition: transform .4s var(--ease), background .2s linear, top .2s .15s ease;
  transform: rotate(0deg);
}

.lineOne {
  composes: line;
  top: 8px;
}

.lineTwo {
  composes: line;
  top: -8px;
}

/* Navigation */

.menuDropDown {
  position: fixed;
  left: 0;
  width: 200px;
  height: calc(88vh - var(--header));
  overflow-y: auto;
  overflow-x: hidden;
  top: 60px;
  background: var(--white);
  padding: 30px 55px 15px 60px;
  opacity: 1;
  visibility: hidden;
  z-index: 0;
  transform: translate3d(0, 0, 400px);
  -webkit-overflow-scrolling: touch;
  transition: transform .6s var(--ease), opacity 1s ease, visibility 1s ease;
  @media (--tablet-portrait) {
    width: 25%;
    height: calc(76vh - var(--header));
    transform: translate3d(0, 0, 100%);
    padding: 15px 25px 48px 25px;
  }
}

.menuDropDownActive {
  composes: menuDropDown;
  visibility: visible;
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transform: translateX(0);

  & .menuItemDropDown {
    transform:translateX(0px);
    opacity: 1;
    padding: 5px;
  }
}

.discoverMobile {
  display: none;
  @media (--tablet-portrait) {
    display: block;
  }
}

.menuItemsDropDown {
  float: left;
  width: 100%;
}

.menuItemDropDown {
  text-align: left;
  transform: translateX(80px);
  opacity: 0;
  position: relative;
}
