/**
 * Bio styles
 */

@import 'styles/base/variables.css';

.bio {
    composes: sectionWrap from 'styles/base/layout.css';
}

.bioTitle {
    composes: sectionTitleGrey from 'styles/base/layout.css';
}

.bioWraper {
  composes: h6 from 'styles/base/type.css';
  max-width: 1260px;
  margin: 0 auto;
  position: relative;
  & p {
    font-size: 1rem;
    line-height: 1.375rem;
    @media (--tablet-portrait) {
        font-size: 0.75rem;
    }
  }
}

.bioLeftSide {
	@neat-span-columns 6; 
	display: inline-block;
	position: relative;
    float: left;
	font-weight: light;
	color: var(--balck);
    padding-right: 40px;
    @media (--tablet-portrait) {
        @neat-span-columns 3;
        width: 49%;
    }
	@media (--phone-landscape) {
		margin: 0 auto;
        padding: 0px 40px;
    }
    @media (--phone-portrait) {
        margin: 0 auto;
        padding: 0px 40px;
    }
    @media (--phone-landscape) {
        @neat-span-columns 12;
    }
    @media print {
        margin: 0 auto;
        display: none;
    }
}

.bioRightSide {
	@neat-span-columns 6; 
	display: inline-block;
	float: left;
	font-weight: light;
    padding-left: 40px;
	color: var(--black);
    @media (--tablet-portrait) {
        @neat-span-columns 3;
        width: 49%;
    }
	@media (--phone-landscape) {
	    margin-left: 10px;
        padding: 0px 40px;
    }
    @media (--phone-portrait) {
        margin-left: 10px;
        padding: 0px 30px;
    }
    @media (--phone-landscape) {
        @neat-span-columns 12;
    }
    @media print {
        margin-left: 10px;
        display: none;
    }
}

p {
    padding-top: 20px;
    padding-bottom: 20px;
    &:first-child {
        padding-top: 0;
    }
    &:last-child {
        padding-bottom: 0;
    }
}

/* style for img and text */

.bioImgWraper {
    position: relative;
}

.bioImgTitle {
    display: inline-block;
    position: absolute;
	left: -100px;
    bottom: 136px;
	background-color: var(--white);
	padding: 7px;
	z-index: 30;
    max-width: 390px;
    @media (--desktop-large) {
        left: -50px;
    }
    @media (--desktop-medium){
        left: -20px;
    }
    @media (--tablet-landscape){
        position: relative;
        left: 0;
        bottom: 0;
        margin-bottom: 20px;
    }
    @media (--tablet-portrait) {
        font-size: 0.6875rem;
    }
}

.bioImg {
	display: inline-block;
	margin-bottom: 30px;
    @media (--tablet-landscape) {
        margin-bottom: 0;
    }
}


