/**
 * Hero styles
 */

@import "styles/base/variables.css";

.heroWrap {
  @neat-span-columns 12;
  overflow: hidden;
  position: relative;
}

.hero {
	composes: fullBackgroundImage from 'styles/base/layout.css';
	display: none;
  margin-top: 60px;
}

.heroActive {
	composes: hero;
	display: block;
}

.heroText {
	padding: 50px;
	display: block;
	position: absolute;
	top: 80px;
  @media (--desktop-small) {
    width: 400px;
  }
  @media (--tablet-portrait) {
    padding-top: 0;
  }
  @media (--phone-landscape) {
    width: 200px;
  }
}

.name {
	color: var(--black);
	font-size: 3.5rem;
	line-height: 3.5rem;
	font-weight: lighter;
	text-transform: uppercase;
	padding-top: 14px;
	padding-bottom: 14px;
	@media(--tablet-portrait) {
		font-size: 1.5625rem;
  	line-height: 2.0625rem;
	}
}

.role {
	composes: h1 from 'styles/base/type.css';
	color: var(--white);
	text-transform: uppercase;
	font-weight: lighter;
  @media(--tablet-portrait) {
    font-size: 1.5625rem;
    line-height: 2.0625rem;
  }
}

.reviewWrap {
	composes: heroText;
  @media (--phone-landscape) {
    display: none;
  }
}

.darkReviewWrap {
    composes: reviewWrap;
    & .review {
        color: var(--white);
    }
}

.review {
	composes: h5 from 'styles/base/type.css';
	width: 450px;
	color: var(--black);
  @media (--tablet-landscape) {
    width: 330px;
  }
}

.reviewLine {
	width: 3.75em;
  height: 1px;
  display: block;
  background-color: var(--type-dark-grey);
  margin-top: 80px;
  margin-bottom: 30px;
  @media (--phone-landscape) {
    @neat-span-columns 12;
    width: 100%;
    }
  @media (--phone-portrait) {
    @neat-span-columns 12;
    width: 100%;
    }
  @media print {
    display: none;
   }
}

/* Dots on the bottom of website */

.slickDots {
	position: absolute;
	bottom: 50px;
	right: 50px;
	display: block;
	& button {
		height: 0.813em;
		width: 0.813em;
		font-size: 10px;
		background-color: var(--white);
    border-radius: 50%;
    border: none;
    color: transparent;
    cursor: pointer;
    padding: 0;
    text-indent: -9999px;
    text-transform: uppercase;
	}
	& li {
		display: inline-block;
		margin-left: 24px;
	}
}

.slickActive {
	& button {
		background-color: var(--yellow);
	}
}

img {
  width: 100%;
}
