/**
 * News styles
 */

@import 'styles/base/variables.css';

.news {
  composes: sectionWrap from 'styles/base/layout.css';
}

.soleNews {
  composes: news;
}

.newsWraper {
  margin: 0 auto;
  position: relative;
}

.pagination {
  background-color: red;
}

.newsTitle{
  composes: sectionTitleGrey from 'styles/base/layout.css';
}

.newsColumns{
  display: block;
  overflow: hidden;
}

.newsColumn {
  @neat-span-columns 4; 
  padding-right: 3%;
  padding-left: 3%;
    &:first-child {
      padding-right: 6%;
      padding-left: 0;
    }
    &:last-child {
      padding-left: 6%;
      padding-right: 0;
    }
  @media (--phone-landscape) {
    @neat-span-columns 12;
  }
  &:nth-child(3) {
     @media (--phone-landscape) {
      display: none;
    }
  }
}

.titleNewsColumn {
  border-top: 1px solid var(--type-dark-grey);
  text-transform: uppercase;
  padding-top: 50px;
  font-weight: 500;
  @media (--desktop-medium) {
    font-size: 1.25rem;
  }
}

.textNewsColumn {
  border-top: 1px solid var(--type-dark-grey);
  composes: small from 'styles/base/layout.css';
  padding-top: 50px;
  @media (--desktop-medium) {
    font-size: 0.875rem;
  }
}

.imgNewsColumn {
  border-top: 1px solid var(--type-dark-grey);
  width: 100%;
  padding-top: 50px;
  margin-bottom: 50px;
}

/* BottomLienes style */

.bottomLinesWrapOut {
  position: absolute;
  bottom: 0;
}

p {
    padding-top: 20px;
    padding-bottom: 20px;
    &:first-child {
        padding-top: 0;
    }
    &:last-child {
        padding-bottom: 0;
    }
}

a {
  word-wrap: break-word;
}


