/**
 * Media styles
 */

@import 'styles/base/variables.css'; 

.media {
  composes: sectionWrap from 'styles/base/layout.css';
  height: 800px;
}

.mediaTitle {
  composes: sectionTitleGrey from 'styles/base/layout.css';
}

.mediaItemsTable {
  border-collapse: collapse;
  border-spacing: 15px;
  transform: translateZ(0);
  margin-right: auto;
  margin-left: auto;
}

.mediaItemsWrap {
  margin-top: 50px;
  padding: 150px 0;
  overflow-x: auto;
  
}

.mediaItems {
  vertical-align: top;
}

.mediaItem {
  background-color: var(--white);
  position: relative;
  top: 0;
  padding: 5px;
  cursor: pointer;
  width: 300px;
  transition: all 0.3s;
  transform: translateZ(0);
  & .mediaItemLink,
  & .mediaItemTitle
  & .mediaItemDescription  {
    width: 300px;
    max-width: none;
  }
  & .mediaItemPlayer {
    transition: all 0.3s;
  }
  & iframe {
    border: none;
  }

  &:hover {
    width: 400px;
    top: -33.33px;
    & .mediaItemPlayer {
      width: 400px !important;
      height: 266.66px !important;
    }
  }
}

.mediaItemInside {
  pointer-events: none;
}

.mediaItemTitle {
  font-weight: 200;
  font-weight: 600;
}

.mediaItemDescription {
  composes: small from 'styles/base/type.css';
}

.bigMedia {
  width: 100%;
  background-color: var(--black);
  transition: all 0.3s;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  display: none;
  overflow: auto;
  text-align: center;
}

.bigMediaActive {
  composes: bigMedia;
  display: block;
  opacity: 1;
}

.bigMediaPlayer {
  margin: 0 auto;
}

.crossIcon {
  color: var(--white);
  width: 60px;
  height: 60px;
  position: relative;
  float: right;
  display: inline-block;
  padding-top: 18px;
  padding-right: 13px;
  padding-bottom: 0;
  padding-left: 13px;
  cursor: pointer;
}

.crossOneLine {
  width: 20px;
  height: 1px;
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--white);
  transform: rotate(-45deg);
  cursor: pointer;
}

.crossTwoLine {
  width: 20px;
  height: 1px;
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--white);
  transform: rotate(45deg);
  cursor: pointer;
}

.icoNext {
  color: var(--white);
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -10px;
  font-size: 40px;
  cursor: pointer;
}

.icoNextLeft {
  color: var(--white);
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -10px;
  font-size: 40px;
  cursor: pointer;
}
