/**
 * Social Media styles
 */

@import 'styles/base/variables.css';

.social {
  display: inline-block;
  width: 200px;
  float: right;
  vertical-align: middle;
  margin-right: 8px;
  position: relative;
}

.share {
  composes: small from 'styles/base/type.css';
  color: var(--type-grey);
  vertical-align: middle;
  display: inline-block;
  position: absolute;
  left: 20px;
  bottom: -10px;
}

.shareLinks {
  width: 110px;
  position: relative;
  left: 2px;
  display: inline-block;
  float: right;
  margin-top: 8px;
}

.shareLink {
  position: relative;
  display: inline-block;
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  border: 1px solid var(--black);
  background-size: auto 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: var(--black);
  margin-bottom: 4px;
  margin-left: 10px;
  font-size: 0.875rem;
  line-height: 22px;
  text-align: center;
}

.socialIco {
  color: var(--white);
}
