<!DOCTYPE html>
<html {{ helmet.htmlAttributes.toString() }}>
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106863383-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-106863383-1');
    </script>

    {{ helmet.title.toString() }}
    {{ helmet.meta.toString() }}
    {{ helmet.link.toString() }}

    <!-- stylesheets -->
    {% for url in styles %}
        <link rel="stylesheet" type="text/css" href="{{ url }}" />
    {% endfor %}
</head>
<body {{ helmet.bodyAttributes.toString() }}>

    <div id="root">{{ html }}</div>

    <script type="text/javascript">
        window.__INITIAL_STATE__ = {{ safeJson(initialState) }}
        window.__CONFIG__ = {{ safeJson(config) }}
    </script>

    <!-- javascripts -->
    {% for url in scripts %}
        <script type="text/javascript" src="{{ url }}"></script>
    {% endfor %}
</body>
</html>
